#keys {
    padding: 2px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

#keys .button:active::before {
    border-radius: 8px;
    content: '';
    background-color: rgba(245, 227, 70, 0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#keys .button:hover {
    border-radius: 8px;
    background-color: rgba(93, 93, 93, 0.7);
}

#keys .button {
    border-radius: 8px;
    color: white;
    background-color: #222222;
    display: grid;
    align-items: center;
    justify-items: center;
    position: relative;
}

#keys .button.digit[data-digit="0"] {
    grid-row: 5;
    grid-column: 1;
}

#keys .button.digit[data-digit="1"] {
    grid-row: 4;
    grid-column: 1;
}

#keys .button.digit[data-digit="2"] {
    grid-row: 4;
    grid-column: 2;
}

#keys .button.digit[data-digit="3"] {
    grid-row: 4;
    grid-column: 3;
}

#keys .button.digit[data-digit="4"] {
    grid-row: 3;
    grid-column: 1;
}

#keys .button.digit[data-digit="5"] {
    grid-row: 3;
    grid-column: 2;
}

#keys .button.digit[data-digit="6"] {
    grid-row: 3;
    grid-column: 3;
}

#keys .button.digit[data-digit="7"] {
    grid-row: 2;
    grid-column: 1;
}

#keys .button.digit[data-digit="8"] {
    grid-row: 2;
    grid-column: 2;
}

#keys .button.digit[data-digit="9"] {
    grid-row: 2;
    grid-column: 3;
}

#keys .button.operator[data-symbol="+"] {
    background: rgb(0, 0, 0);
    grid-row: 1;
    grid-column: 1;
}

#keys .button.operator[data-symbol="-"] {
    background: rgb(0,0,0);
    grid-row: 1;
    grid-column: 2;
}

#keys .button.operator[data-symbol="*"] {
    background: rgb(0,0,0);
    grid-row: 1;
    grid-column: 3;
}

#keys .button.operator[data-symbol="/"] {
    background: rgb(0,0,0);
    grid-row: 1;
    grid-column: 4;
}

#keys .button.equals {
    background: linear-gradient(0deg, rgba(0,0,0,0.7539390756302521) 100%, rgba(0,0,0,1) 100%);
    grid-row: 2 / 6;
    grid-column: 4;
}

#keys .button.cancel {
    grid-row: 5;
    grid-column: 3;
}

#keys .button.decimal-separator {
    grid-row: 5;
    grid-column: 2;
}

#keys .button.operator:hover, #keys .button.cancel:hover, #keys .button.decimal-separator:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

#keys .button.equals:hover{
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
}